{% extends 'base.html' %}

{% block title %} Privacy Policy {% endblock %}

{% block page_header %}
<div class="container header-container">
	<div class="row mt-4 mb-4">
		<div class="col-12">
			<div id="breadcrumbs">
				<a class="category-text" href="{% url 'home' %}">Home </a>
				<span class="ml-2">/</span>
				<a href="#" class="category-text ml-2 font-weight-bold">Privacy Policy </a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container pb-5">
	<div class="row">
		<div class="col-12 col-md-8 mt-3">
			<h1 class="font-weight-bold">Privacy Policy </h1>
			<p>This website is operated by Hello World Apparel, whose registered address is Dublin, Ireland. We are
				committed to protecting and preserving the privacy of our visitors when visiting our site or
				communicating electronically with us.</p>
			<p>This policy sets out how we process any personal data we collect from you or that you provide to us
				through our website. We confirm that we will keep your information secure and that we will comply fully
				with all applicable EU Data Protection legislation and regulations. Please read the following carefully
				to understand what happens to personal data that you choose to provide to us, or that we collect from
				you when you visit this site. By visiting our website you are accepting and consenting to the practices
				described in this policy.</p>

                <h3 class="font-weight-bold pt-4 pb-2">Types of information we may collect from you</h3>
                <p>We may use information that we collect about you to:</p>

                <p>1. deliver the products and services that you have requested;</p>
                <p>2. manage your account and provide you with customer support;</p>
                <p>3. perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others;</p>
                <p>4. communicate with you by e-mail about products or services that may be of interest to you either from us;</p>
                <p>5. develop and display content and advertising tailored to your interests on our sites and other sites;</p>
                <p>6. enforce our terms and conditions;</p>
                <p>7. manage our business and
                perform functions as otherwise described to you at the time of collection.</p>

				<h3 class="font-weight-bold pt-4 pb-2">Disclosure of your information</h3>
				<p>Any information you provide to us will either be emailed directly to us or may be stored on a secure server located near Dublin within the Republic of Ireland. We use a trusted third party website and hosting provider (Cleverbox) to facilitate the running and management of this website. Cleverbox meet high data protection and security standards and are bound by contract to keep any information they process on our behalf confidential. Any data that may be collected through this website that Cleverbox process, is kept secure and only processed in the manner we instruct them to. Cleverbox cannot access, provide, rectify or delete any data that they store on our behalf without permission.</p>

                <p>We will use all reasonable efforts to ensure that your personal data is not disclosed to regional/national institutions and authorities, unless required by law or other regulations.</p>

                <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>

				<h3 class="font-weight-bold pt-4 pb-2">Your rights – access to your personal data</h3>
				<p>You have the right to ensure that your personal data is being processed lawfully (“Subject Access
					Right”). Your subject access right can be exercised in accordance with data protection laws and
					regulations. Any subject access request must be made in writing to Hello World Apparel, Dublin,
					Ireland. We will provide your personal data to you within the statutory time frames.
					To enable us to trace any of your personal data that we may be holding, we may need to request
					further
					information from you. If you have a complaint about how we have used your information, you have the
					right to complain to the Information Commissioner’s Office (ICO).</p>

				<h3 class="font-weight-bold pt-4 pb-2">Changes to our privacy policy</h3>
				<p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy.</p>

				<h3 class="font-weight-bold pt-4 pb-2">Cookie Usage</h3>
				<p>When you visit Hello World Apparel, we collect standard internet log information and
					details about the behaviour of visitors to our site. We automatically collect information from your browser when you visit any of our pages. This information includes your IP address, browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us, and the referring website address.
				</p>
				<p>A cookie is a small text file that is stored on a user's computer for record keeping purposes. Cookies can be either session cookies or persistent cookies. A session cookie expires when you close your browser and is used to make it easier for you to navigate our website. A persistent cookie remains on your hard drive for an extended period of time.
				</p>
				<h3 class="font-weight-bold pt-4 pb-2">How to change your cookie settings</h3>
				<p>You may deactivate or restrict the transmission of cookies by changing
					the settings of your web browser. Cookies that are already stored may be
					deleted at any time through your browser settings. To find out more about cookies and how to manage or remove them, visit
					<a href="//www.allaboutcookies.org/" rel="noopener" target="_blank"
						aria-label="about cookies">https://www.allaboutcookies.org/</a>.
				</p>
                <h3 class="font-weight-bold pt-4 pb-2">Contact us</h3>
                <p>If you have any questions regarding our privacy policy, please feel free to get in touch with us regarding any of the points above on this page. Visit our <a href="{% url 'contact' %}">Contact Us</a> page to get in touch!</p>
		</div>
	</div>
</div>

{% endblock %}