{% extends 'base.html' %}

{% block title %}Terms & Conditions | Hello World Apparel{% endblock %}

{% block page_header %}
<div class="container header-container">
	<div class="row mt-4 mb-4">
		<div class="col-12">
			<div id="breadcrumbs">
				<a class="category-text" href="{% url 'home' %}">Home </a>
				<span class="ml-2">/</span>
            <a href="#" class="category-text ml-2 font-weight-bold">Terms and Conditions </a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container pb-5">
    <div class="row">
        <div class="col-12 col-md-8 mt-3">
            <h1 class="font-weight-bold">Terms & Conditions</h1>
            <hr>
            <p>We’re Hello World Apparel, a company registered in Dublin, Ireland. Our HQ is in Dublin, Neverland.</p>
            <p>When you shop with us, these terms apply. They’re important for both of us as they set out what we expect from each other, and they also give you helpful info. You can also find out more by getting in touch with Customer Care – we always love to hear from you!</p>
            <p>We keep these terms and Help pages updated and we amend them every so often, so remember to check back in before you shop, as the latest set will apply.</p>
            <h3 class="pt-5">About you</h3>
            <hr>
            <p>To shop with us, you need to:</p>
            <li>be at least 16 years old; 
            <li>have a credit or debit card that we accept (see bottom of page for details of current payment providers); and
            <li>be authorised to use that credit or debit card (e.g. it is in your name or you have permission to use it).
            <p>Just FYI, some of the goods sold through our Websites may not be suitable for under 18s.</p>
            <h3 class="pt-5">Placing an order on Hello World Apparel</h3>
            <hr>
            <p>When you place an order, you should receive an acknowledgement e-mail confirming receipt of your order. We then carry out a standard pre-authorisation check to make sure there’s enough money on the card.</p>
            <p>We only accept your order once payment has been approved and we have debited the payment card (and then the contract is made based on these terms).</p>
            <p>You may be able to cancel (not change) your order within a short period of ordering – timings depend on your chosen delivery method (and will be set out in the acknowledgement email). You can’t change your order – you’ll need to cancel (and/or return original item(s)), and re-order.</p>
            <p>All orders are subject to availability and confirmation of the order price. Don’t worry, if there’s an issue with an order, we’ll get in touch with you.</p>
            <p>Very occasionally, we may need to refuse or cancel an order or close or freeze an account (even if we have previously confirmed your order) – e.g. if we notice something unusual on an order or an account. If this happens to you and you think we’ve made a mistake, please don’t take offence – get in touch with Customer Care and they’ll be happy to speak to you about it.</p>
            <h3 class="pt-5">Delivery</h3>
            <hr>
            <p>Before you finalise your order, you’ll be given various delivery options to choose from with estimated delivery time and dates depending on the delivery address. </p>
            <p>We work our socks off to try to meet all delivery times but sometimes there may be delays – e.g. because of postal/carrier delays, logistics or bad weather. We will keep you updated as much as we can and you should be able to track your parcel’s progress.</p>
            <p>Check out our Delivery and Returns Page for more info, or get in touch with Customer Care if you have any issues or questions.</p>
            <h3 class="pt-5">Refunds and returns</h3>
            <hr>
            <p class="font-weight-bold">Returning an unwanted item?</p>
            <p>We get it, sometimes something just doesn't work for you and you want your money back. Don't worry, as long as an item is still in its original condition, we accept returns for free, subject to the rules below, which includes rules around Fair Use.</p>
            <p>If you return an item requesting a refund within 28 days of the item being delivered to you or available for collection, we'll give you a full refund by way of the original payment method.</p>
            <p>If you return an item requesting a refund within 29 and 45 days of the item being delivered to you or available for collection, we'll give you a gift voucher for the amount equivalent to the price you paid for the item.</p>
            <p>We aim to refund you within 14 days of receiving the returned item.</p>
            <p>If you request a refund for an item during the above time frames but you can't return it to us for some reason, please get in touch – but any refund will be at our discretion.</p>
            <p class="font-weight-bold">After that?</p>
            <p>We don't accept returns for unwanted items after the relevant returns period above. If you try to make a return, we may have to send it back to you and ask you to cover the delivery costs.</p>
            <p class="font-weight-bold">Original condition</p>
            <p>All returned items should be sent back to us in their original condition together with the original packaging and all ASOS and brand tags.</p>
            <p>All items are inspected on return. Of course, it’s fine to try an item on like you would in a store, but don’t actually wear or use it. When trying on clothing please be careful with the item (don’t use unnecessary force) and don’t wear make-up, perfume, cologne, deodorant or antiperspirant as these can mark and leave scents on the item.<p>
            <p>If an item is returned to us worn, used, damaged or in an unsaleable condition, or where the above instructions have not been followed, we won’t be able to give you a refund and we may have to send it back to you and ask you to cover the delivery costs. Alternatively, we (at our sole discretion) may choose to reduce your refund to reflect any reduction in the value of an item.</p>
            <p>None of this affects your statutory rights.</p>
            <h3 class="pt-5">Your information</h2>
            <hr>
            <p>Our <a href="{% url 'privacy_policy' %}">Privacy Policy</a> sets out how we’ll use your information. If your details change, remember that you need to updateyour account so we can continue giving you our best service (you can also update your marketing preferences there).</p>
            <p>At Hello World Apparel, we love being able to interact with and chat to you through social media. However, we can’t control those social media platforms or how you set your profiles on them. Please check and set your privacy settings so that you understand and are comfortable with how your personal information on those platforms will be used.</p>
        </div>
    </div>
</div>
{% endblock %}