{% extends 'base.html' %}

{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row mt-4 mb-4">
		<div class="col">
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container hero">
	<div class="row d-flex align-items-center">
		<div class="col-7 col-md-6">
			<h1 class="display-4 website-cta text-white mt-5">
				Cozy up this Winter with our new Pillow collection
			</h1>
			<div class="my-5">
				<h4>
					<a href="{% url 'products' %}?category=pillows"
						class="orange-btn btn btn-lg rounded-lg text-white py-3">Shop Now</a>
				</h4>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid popular-listings mt-5 pt-5 pb-5">
<div class="row h-100">
    <div class="col-12 text-center">
        <h2>Best Sellers</h2>
        <p>Discover apparel and accessories to brighten up your wardrobe and home, all in one place.</p>
        </div>
		{% for product in featured_listings %}
		<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3 mt-3">
			<div class="card h-100 product-card">
				{% if product.image %}
				<a href="{% url 'product_detail' product.id %}">
					<img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
					{% else %}
					<a href="{% url 'product_detail' product.id %}">
						<img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-available-image.png" alt="{{ product.name }}">
                                </a>
						{% endif %}
						<div class="card-body pb-0">
							<h6 class="mb-2"><strong>{{ product.name }}</strong></h6>
						</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}