<footer>
	<!-- main footer and content-->
	<div class="py-5 pt-5">
		<div class="container">
			<div class="row">

				<div class="col-lg-5 pr-lg-5 mb-5">
					<h6>Sign up for our newsletter</h6>
					<p>For sales, exclusive content, and more!</p>
					<form class="form-inline">
						<div class="form-group mx mb-2">
							<label for="email-newsletter" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email-newsletter" placeholder="Enter your email">
  </div>
							<button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
					</form>
				</div>
				<div class="col-lg-7">
					<div class="row">
						<div class="col-lg-4">
							<h6>Apparel</h6>
							<ul class="list-unstyled">
								<li><a href="{% url 'products' %}?category=tshirts">T-Shirts</a></li>
								<li><a href="{% url 'products' %}?category=masks">Masks</a></li>
								<li><a href="{% url 'products' %}?category=mugs">Mugs</a></li>
								<li><a href="{% url 'products' %}?category=pins">Pins</a></li>
							</ul>
						</div>
						<div class="col-lg-4">
							<h6>Home Goods</h6>
							<ul class="list-unstyled">
								<li><a href="{% url 'products' %}?category=pillows">Pillows</a></li>
								<li><a
										href="#">Tapestries<span class="badge badge-secondary ml-2">Coming soon!</span></a>
								</li>
								<li><a href="#">Tote
										Bags<span class="badge badge-secondary ml-2">Coming soon!</span></a></li>
							</ul>
						</div>
						<div class="col-lg-4">
							<h6>Info</h6>
							<ul class="list-unstyled">
								<li><a href="{% url 'about_us' %}">About Us</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="{% url 'faq' %}">FAQ</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- copyright footer -->

	<div class="py-4">
		<div class="container">
			<div class="row align-items-center text-sm text-gray-500">
				<div class="col-lg-4">
					<p>Developed by Orla Madden - 2020</p>
				</div>
				<div class="col-lg-8">
					<ul class="list-inline mb-0 mt-2 mt-md-0 ml-4 text-center text-lg-right">
						<li class="list-inline-item"><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a>
						</li>
						<li class="list-inline-item"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
            <p>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px"
                    src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="Valid CSS!" />
                </a>
				</p>
			</div>
		</div>

	</div>

</footer>