<div class="collapse navbar-collapse" id="main-nav">
	<ul class="navbar-nav mx-auto">
		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				All Products
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="all-products-link">
				<a href="" class="dropdown-item">By Price</a>
				<a href="" class="dropdown-item ">By Rating</a>
				<a href="" class="dropdown-item ">By Category</a>
				<a href="{% url 'products' %}" class="dropdown-item">All Products</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Popular
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="clothing-link">
				<a href="{% url 'products' %}?category=tshirts" class="dropdown-item">T-Shirts</a>
				<a href="{% url 'products' %}?category=mugs" class="dropdown-item">Mugs</a>
				<a href="{% url 'products' %}?category=pins" class="dropdown-item">Pins</a>
				<a href="{% url 'products' %}?category=masks" class="dropdown-item">Masks</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Apparel
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="homeware-link">
				<a href="" class="dropdown-item">T-Shirts</a>
				<a href="" class="dropdown-item">Socks</a>
				<a href="" class="dropdown-item">Hats</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				On Sale
			</a>
		</li>
	</ul>
</div>