<div class="container mt-2 d-flex justify-content-center">
    <div class="product-detail-wrapper">  
        <div class="row">
            <div class="col-12">
                <div class="product-reviews">
                    <h2 class="font-weight-bold">Product Reviews</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="reviews">
                    <div class="review-list">
                    <h4 class="">Customer Reviews</h4>
                        {% if reviews %}
                        {% for review in reviews %}
                        <div class="review-container mt-3">
                                    <h5 class="font-weight-bold"><i class="fas fa-user mr-2"></i>{{review.user}}</h5>
                                <p class="">{{review.comment}}</p>
                                <p class="">{{ review.rating|floatformat:0 }}/5</p>
                                {% if review.user == request.user %}
                                <div class="button-wrapper pb-5">
                                    <a class="btn orange-btn text-white " href="{% url 'edit_review' product.id %}" aria-label="edit button">Edit</a>
                                    <a class="btn" href="{% url 'delete_review' product.id %}" aria-label="delete button">Delete</a> 
                                </div>
                            {% endif %}
                            
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>Nobody has left a review for this product yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-sm-5 mt-lg-0">
                <div class="reviews">
                    <div class="leave-review">
                    <h4 class="">Leave a review</h4>
                    {% if review_form  %}
                    <form action="{% url 'add_review' product.id %}" method="POST">
                        <div class="col-12 mt-3">
                            {% csrf_token %}
                            {{ review_form }}
                        </div>
                        <div class="col-12 mt-3">
                            <button class="btn orange-btn text-white">Post review</button>
                        </div>
                    </form>
                    {% elif review and not review_form %}
                    <p class="">Thank you for reviewing this product, you can edit it in the reviews section</p>
                    {% else %}
                    <p class="">Purchase this item to make a review.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>