html {
    height: 100%;
}

body {
    background-color: rgb(253, 196, 122);
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #555 !important;
}