{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner_content %}

<div class="row mt-3">
	<div class="col-sm-12 text-center">
		<p>
			<h2 class="logo-font mb-4">{% trans "Login" %}</h2>
		</p>
	</div>
</div>

<div class="container mt-2 mb-5 user-management">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-5 col-lg-5">
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
			<button class="primaryAction" type="submit">{% trans "Login" %}</button>
            <a class="button secondaryAction ml-3"
				href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			</form>

		</div>
		<div class="col-sm-12 col-md-2 or">
			<div class="or-text text-center">Or</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5">

			{% load socialaccount %}
			<!-- <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
			<form class="login" method="POST" action="{% url 'account_login' %}"> -->
            <div class="fb-login-button mb-2" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
            <li><small>One less password to remember</small>
            <li><small>We never post without your permission</small>
			
            <div class="account-container mt-5">
			<h3>New around here?</h3>
			<p><a href="{{ signup_url }}">Create an account.</a></p>
            </div>
		</div>
	</div>
</div>

{% endblock %}

{% block postloadjs %}
<script async defer crossorigin="anonymous"
	src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=342427993569737&autoLogAppEvents=1"
	nonce="NsASL56p"></script>
{% endblock %}