{% extends 'base.html' %}
{% block title %} Edit Review {% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-4 mb-4">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock  %}
<!-- below code for reviews is sourced from a past student, this is referenced in credits
section in the the README.md -->
{% block content %}
    <div class="overlay"></div>
    <div class="container mt-2">
        <div class="row mb-5">
            <div class="col-md-6">
                <h3 class="font-weight-bold mb-3">Update your review</h3>
                <form action="{% url 'edit_review' product.id %}" method="POST" class="mb-5">
                    <div class="col-12 col-lg-7">
                        {% csrf_token %}
                        {{ review_form }}
                    </div>
                    <div class="col-sm-12 col-12">
                        <button class="btn orange-btn text-white mt-3" aria-label="update reviewbutton">Update your review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}