{% extends 'base.html' %}

{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row mt-4">
		<div class="col">
			<div id="breadcrumbs" class="col-12">
            <a href="{% url 'home' %}">Home </a>
            <span class="ml-2">/<span>
            <a href="{% url 'products' %}" class="ml-2">Product List </a>
        </div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col text-center mt-3">
			<h2 class="logo-font">Products</h2>
		</div>
	</div>
	<div class="row">
		<div class="product-container col-10 offset-1">
			<div class="row mt-1 mb-2"></div>
			<div class="row">
				<div class="col-md-3">
					<h6>Filter by Category</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link"
								href="{% url 'products' %}?category=tshirts"><i class="fas fa-tshirt mr-2"></i>T-Shirts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"
								href="{% url 'products' %}?category=masks"><i class="fas fa-head-side-mask mr-2"></i>Masks</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"
								href="{% url 'products' %}?category=pins"><i class="fas fa-certificate mr-2"></i>Pins</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"
								href="{% url 'products' %}?category=mugs"><i class="fas fa-coffee mr-2"></i>Mugs</a>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Reset List</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
					<div class="row">
						{% for product in products %}
						<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-3 mt-3">
							<div class="card h-100 product-card">
								{% if product.image %}
								<a href="{% url 'product_detail' product.id %}">
									<img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
									{% else %}
									<a href="{% url 'product_detail' product.id %}">
										<img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-available-image.png" alt="{{ product.name }}">
                                </a>
										{% endif %}
										<div class="card-body pb-0">
											<h6 class="mb-2"><strong>{{ product.name }}</strong></h6>
										</div>
										<div class="card-footer bg-white pt-0 border-0 text-left">
											<div class="row">
												<div class="col">
													<p class="text-left price-tag">€{{ product.price }}</p>
												</div>
											</div>
										</div>
										{% if request.user.is_superuser %}
										<small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
										{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
					<nav aria-label="pagination for product listings">
						{% if products.has_other_pages %}
						<ul class="pagination justify-content-end">
							{% if products.has_previous %}
							<li class="page-item">
								<a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;</a>
							</li>
							{% else %}
							<li class="page-item disabled">
								<a href="" class="page-link">&laquo;</a>
							</li>
							{% endif %}
							{% for i in products.paginator.page_range %}
							{% if products.number == i %}
							<li class="page-item active">
								<a class="page-link">{{ i }}</a>
							</li>
							{% else %}
							<li class="page-item">
								<a href="?page={{ i }}" class="page-link">{{ i }}</a>
							</li>
							{% endif %}
							{% endfor %}
                            {% if products.has_next %}
							<li class="page-item">
								<a href="?page={{ products.next_page_number }}" class="page-link">&raquo;</a>
							</li>
							{% else %}
							<li class="page-item disabled">
								<a href="" class="page-link">&raquo;</a>
							</li>
							{% endif %}
						</ul>
						{% endif %}
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}